.categories{
    display: flex;
    padding :6rem 7rem 1rem 5rem;
    width: 100%;
    color:var(--text-color-primary);
    background-color: var(--background-color);  
    position: fixed;
    z-index: 1;
    width: 100vw;
    align-items: center;
    cursor: pointer;
    justify-content:space-between;

    /* d-flex align-center cursor-pointer */
}

.gap-large{
    display: flex;

    gap: 0rem;
}

.border-bottom{
    border-bottom: 1px solid var(--text-color-primary);
}

.button.btn-category{
    padding:0;
    top:6rem;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    color: var(--text-color-primary);
    height: 1.7rem;
    width: 1.7rem;
}

.btn-left{
    left:2.7rem;

}

.btn-right{
    right:3rem;
}